﻿<%@ Page Language="C#" Title="Default2" AutoEventWireup="true" CodeBehind="Default2.aspx.cs" Inherits="WebformsApp.Default2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        </div>
    </form>
</body>
</html>
