﻿
@{
    ViewBag.Title = "GetImage";
}

<h2>GetImage</h2>

<h2>Great Personalities</h2>
<ul>
    <li><a href="~/Home/GetImage">Nature1</a> </li>

</ul>

@*<ul>
    <li><a href="~/Home/GetImage/1">APJ Abdul Kalam</a> </li>
    <li><a href="~/Home/GetImage/2">Bill Gates</a> </li>
    <li><a href="~/Home/GetImage/3">Mark Zuckerberg</a> </li>
    <li><a href="~/Home/GetImage/4">Steve Jobs</a></li>
</ul>*@  