﻿
@{
    ViewBag.Title = "GetAllBooks";
}
<h2>Get All Books</h2>
<p>@Model</p>

<p id="demo"></p>

<form asp-controller="Home" asp-action="SelectBook" method="post" style="color:cornsilk;">
    <div class="form-group" style="width: 25%;">
        <label style="color: cornsilk;"></label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group" style="color: cornsilk;">
        <input id="select" type="submit" class="btn btn-primary" style="background-color: #060a0e; border-color: #ffffff;" />
    </div>
</form>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Authors", "Authors", "Home")</li>
                <li>@Html.ActionLink("ProgrammingBooks", "ProgrammingBooks", "Home")</li>
                <li>@Html.ActionLink("PriceLessThan20", "PriceLessThan20", "Home")</li>>

            </ul>
        </div>
    </div>
</div>

@*<script>
    const selectedBook = getElementById("select");
    selectedBook.addEventListener("click", function ()
    {
       
    }
</script>*@





