﻿
@{
    ViewBag.Title = "Book Catalog";
}

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p id="demo"></p>

    <script>
        var inp = prompt("What is this: ");
        console.log(inp);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                showResult(xhttp.responseXML);
            }
        };


        xhttp.open("GET", "C:\Users\ivan\Desktop\Practice\BookXML\BookXML\XML\XML.xml", true);
        xhttp.send();

        function showResult(xml) {
            var txt = "";
            path = "/catalog/book/title"
            if (xml.evaluate) {
                var nodes = xml.evaluate(path, xml, null, XPathResult.ANY_TYPE, null);
                var result = nodes.iterateNext();
                while (result) {
                    txt += result.childNodes[0].nodeValue + "<br>";

                    result = nodes.iterateNext();
                }
            }
        }
        document.getElementById("demo").innerHTML = text;
    </script>





